<div class="flex justify-start pl-4 pt-4 ">
    <div class=" bg-white md:md-0 col-span-12 sm:col-span-6 
        lg:col-span-4 border p-4 rounded-lg shadow-lg relative">
        <p class="inline-flex items-center px-3 py-0.5 rounded-full text-xs
        font-bold leading-5 text-white font-display capitalize absolute top-1"
        style="background-color: #f8810d;right: 6px;">
            place: 40
        </p>
        <p class="font-display max-w-sm text-2xl font-bold leading-tight mb-3 mt-4">
            <span class="link-underline link-underline-black text-black">
                ngt-2023-11-12
            </span>
        </p>
        <div class="flex items-center mb-3">
            <span class="inline-flex items-center px-3 py-1 rounded-full text-xs 
            font-bold leading-5 text-white font-display mr-2 capitalize bg-gray-500">
                from 08:22 to 20:39
            </span>
        </div>
        <div class="flex items-center mb-3">
            <span
                class="inline-flex items-center px-3 py-0.5 rounded-full text-xs font-bold leading-5 text-white font-display mr-2 capitalize bg-red-500">
                Safi
            </span>
            <p class="font-mono text-xs font-normal opacity-75 text-black">September 28th, 2022</p>
        </div>
    </div>
</div>

