<nav>
    <div class="n1">
        <div>
            <i id="menu-bar" class="fas fa-bars"></i>
        </div>
        <div class="search">
            <i class="far fa-search"></i>
            <input type="text" placeholder="seach for a competition" disabled />
        </div>
    </div>
    <div class="profile">
        <i class="far fa-bell notification"></i>
        <div class="flex flex-col justify-center justify-center">
            <img src="avatarProfile.png" />
            <button id="dropdownVousButton" data-dropdown-toggle="dropdownVous" class="flex items-center">
                <p class="text-sm">vous</p>
                <i class="fa-duotone fa-caret-down text-sm px-0.5" style="--fa-secondary-opacity: 1"></i>
            </button>
        </div>
    </div>
</nav>